<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv=content-type content="text/html; charset=utf-8" />
    <link href="/Public/Admin/css/admin.css" type="text/css" rel="stylesheet" />
    <script language=javascript>
        function expand(el)
        {
            childobj = document.getElementById("child" + el);

            if ( childobj.style.display == 'none' )
            {
                childobj.style.display = 'block';
            }
            else
            {
                childobj.style.display = 'none';
            }
            return;
        }
    </script>
</head>
<body>
<table height="100%" cellspacing=0 cellpadding=0 width=170 background="/Public/Admin/img/menu_bg.jpg" border=0>
    <tr>
        <td valign=top align=middle>
            <table cellspacing=0 cellpadding=0 width="100%" border=0>
                <tr><td height=10></td></tr>
            </table>
            <table cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=22>
                    <td style="padding-left: 30px" background="/Public/Admin/img/menu_bt.jpg">
                        <a class=menuparent onclick="expand(1)" href="javascript:void(0);">超级管理员</a>
                    </td>
                </tr>
                <tr height=4><td></td></tr>
            </table>
            <table id="child1" style="display: none" cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Self/user_info')}" target="right">
                            个人信息
                        </a>
                    </td>
                </tr>
            </table>
            <table cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=22>
                    <td style="padding-left: 30px" background="/Public/Admin/img/menu_bt.jpg">
                        <a class=menuparent onclick="expand(10)" href="javascript:void(0);">个人中心</a>
                    </td>
                </tr>
                <tr height=4><td></td></tr>
            </table>
            <table id="child10" style="display: none" cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Self/user_info')}" target="right">
                            个人信息
                        </a>
                    </td>
                </tr>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Self/change_pwd')}" target="right">
                            修改密码
                        </a>
                    </td>
                </tr>
            </table>
            <table cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=22>
                    <td style="padding-left: 30px" background="/Public/Admin/img/menu_bt.jpg">
                        <a class=menuparent onclick="expand(20)" href="javascript:void(0);">菜单管理</a>
                    </td>
                </tr>
                <tr height=4><td></td></tr>
            </table>
            <table id="child20" style="display: none" cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Menu/add')}" target="right">
                            添加菜单
                        </a>
                    </td>
                </tr>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Menu/lists')}" target="right">
                            菜单列表
                        </a>
                    </td>
                </tr>
            </table>
            <table cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=22>
                    <td style="padding-left: 30px" background="/Public/Admin/img/menu_bt.jpg">
                        <a class=menuparent onclick="expand(30)" href="javascript:void(0);">角色管理</a>
                    </td>
                </tr>
                <tr height=4><td></td></tr>
            </table>
            <table id="child30" style="display: none" cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Role/add')}" target="right">
                            添加角色
                        </a>
                    </td>
                </tr>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Role/children_lists')}" target="right">
                            角色列表
                        </a>
                    </td>
                </tr>
            </table>
            <table cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=22>
                    <td style="padding-left: 30px" background="/Public/Admin/img/menu_bt.jpg">
                        <a class=menuparent onclick="expand(40)" href="javascript:void(0);">管理员管理</a>
                    </td>
                </tr>
                <tr height=4><td></td></tr>
            </table>
            <table id="child40" style="display: none" cellspacing=0 cellpadding=0 width=150 border=0>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Adminer/add')}" target="right">
                            添加管理员
                        </a>
                    </td>
                </tr>
                <tr height=20>
                    <td align=middle width=30>
                        <img height=9 src="/Public/Admin/img/menu_icon.gif" width=9>
                    </td>
                    <td>
                        <a class="menuchild" href="{:U('Adminer/lists')}" target="right">
                            管理员列表
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        <td width=1 bgcolor=#d1e6f7></td>
    </tr>
</table>
</body>
</html>