<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>添加角色</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="/Public/Admin/css/mine.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="div_head">
        <span>
            <span style="float:left">当前位置是：角色管理-》添加角色信息</span>
            <span style="float:right;margin-right: 8px;font-weight: bold">
                <a style="text-decoration: none" href="{$smarty.const.__MODULE__}/Goods/showlist">【返回】</a>
            </span>
        </span>
    </div>
    <div style="font-size: 13px;margin: 10px 5px">
        <form action="" method="post">
        <table border="1" width="100%" class="table_a">
            <tr>
                <td>角色名称</td>
                <td><input type="text" name="role_name" /></td>
            </tr>
            <tr>
                <td>角色说明</td>
                <td><input type="text" name="remark" /></td>
            </tr>
            <tr>
                <td>排序</td>
                <td><input type="text" name="rank" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="hidden" name="role_pid" value="{$role_pid}">
                    <input type="button" class="submit_btn" value="添加">
                </td>
            </tr>
        </table>
        </form>
    </div>
</body>
</html>
<script type="text/javascript" src="/Public/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/Public/js/layer/layer.js"></script>
<script>
    $(document).ready(function(){
        $('.submit_btn').click(function(){
            var role_pid = $("input[name='role_pid']").val();
            if ( role_pid == '' ) {
                layer.msg( '参数丢失，即将重新载入页面' );
                setTimeout(function(){
                    self.location.reload();
                },3000)
                return false;
            }

            var role_name = $("input[name='role_name']").val();
            if ( role_name == '' ) {
                layer.tips('角色名称不能为空', "input[name='role_name']", {
                    tips: [2, '#3595CC'],
                    time: 4000
                });
                return false;
            }

            var remark = $("input[name='remark']").val();

            var rank = $("input[name='rank']").val();
            if ( rank == '' ) {
                layer.tips('排序不能为空', "input[name='rank']", {
                    tips: [2, '#3595CC'],
                    time: 4000
                });
                return false;
            }

            var postdata = {};
            postdata['role_pid'] = role_pid;
            postdata['role_name'] = role_name;
            postdata['remark'] = remark;
            postdata['rank'] = rank;

            $.ajax({
                url: "{:U('Role/add')}",
                type: 'POST',
                dataType: 'json',
                data: postdata,
                success:function(data){
                    if ( data.status == 1 ) {
                        self.location = "{:U('Role/lists')}";
                    } else if ( data.status == 2 ) {
                        layer.msg( data.info );
                        if ( data.url != '' ) {
                            setTimeout(function(){
                                self.location.reload();
                            },3000)
                        }
                    } else {
                        layer.msg( data.info );
                        if ( data.url != '' ) {
                            setTimeout(function(){
                                self.location = data.url;
                            },3000)
                        }
                    }
                }
            })
        });
    });
</script>