<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>权限列表</title>

    <link href="/Public/Admin/css/mine.css" type="text/css" rel="stylesheet" />
    <style>
        .btn {
            margin: 5px;
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            padding: 0 30px;
            border-radius: 4px;
            background-color: #1b9af7;
            border-color: #1b9af7;
            color: #fff;
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            font-weight: 300;
            text-align: center;
            text-decoration: none;
            transition-duration: 0.3s;
            transition-property: all;
        }
    </style>
</head>
<body>
    <div class="div_head">
        <span>
            <span style="float: left;">当前位置是：菜单管理-》菜单列表-》权限列表</span>
            <span style="float: right; margin-right: 8px; font-weight: bold;">
                <a style="text-decoration: none;" id="power_add">【添加权限】</a>
            </span>
        </span>
    </div>
    <div></div>
    <div style="font-size: 13px; margin: 10px 5px;">
        <table class="table_a" border="1" width="100%">
            <tbody>
                <tr style="font-weight: bold;">
                    <td><input id="checkall" value="" type="checkbox">全选</td>
                    <td>权限名称</td>
                    <td>菜单所属控制器</td>
                    <td>菜单备注</td>
                    <td>排序</td>
                    <td align="center">操作</td>
                </tr>
                <volist name="lists" id="vo">
                    <tr>
                        <td><input class="checkboxs" value="{$vo.id}" type="checkbox"></td>
                        <td>{$vo.menu_name}</td>
                        <td>{$vo.controllers}</td>
                        <td>{$vo.remark}</td>
                        <td>{$vo.rank}</td>
                        <td>
                            <a data-id="{$vo.id}" class="btn edit">修改</a>
                            <a data-id="{$vo.id}" class="btn qxgl">权限管理</a>
                            <a data-id="{$vo.id}" class="btn delete">删除</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
</body>
</html>
<script type="text/javascript" src="/Public/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/Public/js/layer/layer.js"></script>
<script>
    $(document).ready(function(){
        $('#power_add').click(function(){
            layer.open({
                type: 1,
                title: '添加权限',
//                closeBtn: false,
//                area: '300px;',
                area: ['320px', '300px'], //宽高
                shade: 0.4,
                id: 'LAY_layuipro',  // 设定一个id，防止重复弹出
                resize: true,
                btn: ['确认', '取消'],
                btnAlign: 'c',
                moveType: 1,  // 拖拽模式，0或者1
                content: '<div><input ></div></div><div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">内容<br>内容</div>',
                success: function(layero, index){  // 弹层加载成功后执行
                    var btn = layero.find('.layui-layer-btn');
                    btn.find('.layui-layer-btn0').attr({
//                        href: 'http://www.layui.com/',
//                        target: '_blank'
                    });
                },
                yes: function(index, layero){
                    //do something
//                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                },
                btn2: function(index, layero){
                    //按钮【按钮二】的回调
                    if(confirm('确定要关闭么')){  // 只有当点击confirm框的确定时，该层才会关闭
                        layer.close(index)
                    }
                    return false;
                },
                cancel: function(index, layero){
                    layer.close(index);
                },
            });
        });
    });
</script>